@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap");

.wrap {
  font-family: "Noto Sans KR", sans-serif;
}
.inner-wrap {
  margin: 0 auto;
  max-width: 76.8rem;
}
.container section {
  margin: 0 auto;
  padding-bottom: 5rem;
  max-width: 76.8rem;
  box-sizing: border-box;
}
.container
  section
  > div:not(.main_content, .content_building, .content_trading) {
  padding: 4rem 2.5rem 0;
  box-sizing: border-box;
}
.ico-arrow {
  width: 1.2rem;
  height: 1.9rem;
  background: url("http://img.landstock.co.kr/common/arrow-left.png") no-repeat;
  background-size: contain;
  font-size: 0;
  text-indent: -999px;
  color: transparent;
}

/* Header */
.header {
  width: 100%;
  background: #fff;
}
.header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 2.5rem;
  height: 4.5rem;
  box-sizing: border-box;
}
.header .logo {
  display: block;
  width: 9.6rem;
}
.header .logo img {
  width: 100%;
}

.nav ul {
  display: flex;
}
.nav ul li a {
  display: block;
  height: 2.1rem;
  font-size: 0;
  text-indent: -999px;
  color: transparent;
}
.nav ul li a.nav_notice {
  width: 2.2rem;
  background: url("http://img.landstock.co.kr/common/nav-notice.png") no-repeat;
  background-size: contain;
}
.nav ul li a.nav_account {
  margin-left: 2rem;
  width: 1.85rem;
  background: url("http://img.landstock.co.kr/common/nav-account.png") no-repeat;
  background-size: contain;
}

/* sub-nav */
.top-nav {
  display: flex;
  width: 100%;
}
.top-nav .btn-back {
  display: block;
  width: 1.2rem;
  height: 1.9rem;
  transform: rotate(180deg);
  background: url("http://img.landstock.co.kr/common/arrow-left.png") no-repeat;
  background-size: contain;
  font-size: 0;
  text-indent: -999px;
  color: transparent;
}
.top-nav h2 {
  margin: 0 auto;
  font-size: 1.7rem;
  color: #403f3f;
}

.top-nav .btn-close {
  position: absolute;
}
.top-nav .btn-close span {
  position: relative;
  display: block;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.top-nav .btn-close span:before,
.top-nav .btn-close span:after {
  content: "";
  display: block;
  width: 70%;
  height: 2px;
  background-color: #6b6b6b;
}
.top-nav .btn-close span:before {
  transform: rotate(-45deg) translate(-10px, 10px);
}
.top-nav .btn-close span:after {
  transform: rotate(45deg) translate(9px, 9px);
}

/* price-inputbox */
.price-inbox {
  position: relative;
}
.price-inbox input {
  padding-left: 1.5rem;
  width: 100%;
  height: 5rem;
  border: 1px solid #3f70ea;
  border-radius: 5px;
}
::-webkit-input-placeholder {
  line-height: normal;
}
.price-inbox input::placeholder {
  font-size: 1.5rem;
  font-weight: 600;
  color: #b6b6b6;
}
.price-inbox .label {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* price-percentUp */
.num-up,
.percent-up {
  position: relative;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #e53e4f;
}
.num-up {
  margin-right: 2rem;
}
.num-up:after {
  content: "";
  position: absolute;
  right: -1.75rem;
  top: 40%;
  transform: translateY(-50%);
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid red;
  border-right: 0.7rem solid transparent;
  border-left: 0.7rem solid transparent;
}
.num-down {
  color: #3f70ea;
}

.bd-name {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #565656;
}

/* sub-tit */
.sub-tit {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  color: #403f3f;
}

/* Btn-style */
[class*="btn_offering"] {
  display: block;
  margin: 3rem 0 4rem;
  width: 100%;
  height: 4.3rem;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #3f70ea;
  text-align: center;
  font-size: 1.6rem;
  line-height: 4.3rem;
  color: #fff;
}
[class*="btn_more"] {
  display: block;
  margin: 3rem 0 4rem;
  width: 100%;
  height: 4.3rem;
  border-radius: 5px;
  box-sizing: border-box;
  background: #f6f7f9;
  text-align: center;
  font-size: 1.6rem;
  line-height: 4.3rem;
  color: #3f70ea;
}
[class*="btn_price-"] {
  display: block;
  margin-top: 1rem;
  width: 100%;
  height: 4.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: #fff;
}
.btn_price-sell {
  background: #e53e4f;
}
.btn_price-buy {
  background: #3f70ea;
}
[class*="btn-next"] {
  display: block;
  margin-top: 4rem;
  width: 100%;
  height: 4.5rem;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 4.5rem;
  background: #3f70ea;
  color: #fff;
}
[class*="btn-close"] {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
[class*="btn-close"] span {
  position: relative;
  display: block;
  font-size: 0;
  width: 30px;
  height: 30px;
}
[class*="btn-close"] span:before,
[class*="btn-close"] span:after {
  content: "";
  display: block;
  width: 75%;
  height: 2px;
  background-color: #6b6b6b;
}
[class*="btn-close"] span:before {
  transform: rotate(-45deg) translate(-10px, 10px);
}
[class*="btn-close"] span:after {
  transform: rotate(45deg) translate(9px, 9px);
}

/* notice-column: STYLE-공지사항 및 일시 */
.notice-column li {
  padding: 2rem 0;
  border-bottom: 1px solid #d7d7d7;
  box-sizing: border-box;
}
.notice-column li:first-child {
  padding: 1.5rem 0 2rem;
}
.notice-column li p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}
.notice-column li .organize {
  font-size: 1.4rem;
  letter-spacing: -0.5px;
  color: #6b6b6b;
}
.notice-column li .organize span {
  position: relative;
  padding-right: 1.5rem;
}
.notice-column li .organize span:before {
  content: "";
  position: absolute;
  left: -9px;
  top: 5px;
  width: 1px;
  height: 1.2rem;
  background: #6b6b6b;
}
.notice-column li .organize span:first-child:before {
  display: none;
}

/* column-list: STYLE - 공모중,빌딩정보 */
.column-list a {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
  box-sizing: border-box;
  color: #565656;
}
.column-list a .tit {
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}
.column-list a .ico-arrow {
  width: 0.9rem;
  height: 1.3rem;
}

/* list-items: STYLE - 설명표 */
.list-items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.55rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #403f3f;
}
.list-items li div:first-child {
  font-weight: 500;
}

/* link-list: STYLE - 링크형태 리스트 */
.link-list li {
  padding: 2rem 0;
  border-bottom: 1px solid #d7d7d7;
  letter-spacing: -0.5px;
  color: #403f3f;
}
.link-list li a {
  display: flex;
  justify-content: space-between;
}

/* Input check-list */
.check-list ul li:first-child label {
  font-size: 1.7rem;
}
.check-list ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
  box-sizing: border-box;
}
.check-list ul li input {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  position: absolute;
  width: 0;
  height: 0;
  border: 0;
  outline: 0;
}
.check-list ul li label {
  position: relative;
  padding-left: 3rem;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: #403f3f;
}
.check-list ul li label:before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 3px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #fff;
}
