.header .inner-wrap {
  border-bottom: 1px solid #ddd;
}
.container .main_content > div {
  padding: 2.5rem;
  /* border: 1px solid #d7d7d7; */
  box-sizing: border-box;
}
.container h3.title {
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  letter-spacing: -1.5px;
  font-weight: 500;
  color: #403f3f;
}
.column_box .box_items .thumb .container p.sub-tit {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.total-price strong {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.column_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 투자금액 확인 */
.main_content .user-invest {
  background: #dadfe5;
}
.user-invest .invest-box [class*="current-"] {
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  background: #fff;
}

.current-invest {
  padding: 2.3rem;
}
.current-invest .sub-tit {
  font-size: 1.55rem;
}
.current-invest .total-price {
  margin: 0.5rem 0 0.7rem;
  font-size: 1.9rem;
}
.current-invest .total-price strong {
  font-size: 2.3rem;
}
.current-invest .num-up {
  margin-right: 0.2rem;
}
.current-invest .num-up:after {
  display: none;
}
.current-invest li {
  padding: 1.5rem 0;
  border-top: 1px solid #bfbfbf;
  box-sizing: border-box;
}
.current-invest li:first-child {
  padding-top: 0;
  border-top: 0 none;
}

.current-invest li .column_box {
  margin-top: 1.3rem;
}
.column_box .box_items {
  display: flex;
  align-items: center;
}
.column_box .box_items .thumb {
  overflow: hidden;
  width: 9rem;
  height: 9rem;
  border-radius: 5px;
}
.column_box .box_items .thumb img {
  width: 100%;
}

.column_box .box_items .desc {
  margin-left: 1.3rem;
}
.column_box .box_items .desc p {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  letter-spacing: -0.5px;
  color: #403f3f;
}
.column_box .box_items .desc .price {
  font-size: 1.5rem;
}
.column_box .box_items .desc .price strong {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.7px;
}
.column_box .box_items .text {
  letter-spacing: -0.5px;
  color: #3674e3;
}

.current-deposit {
  margin-top: 2rem;
  background: #fff;
}
.current-deposit .sub-tit {
  margin-bottom: 0.5rem;
}
.current-deposit a {
  display: block;
  padding: 2.3rem;
  box-sizing: border-box;
}
.current-deposit .total-price strong {
  font-size: 2.3rem;
  letter-spacing: -1px;
}

/* 거래 가능한 건물 */
.main_content .trading-building {
  background: #ececec;
}
.trading-building ul li {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  box-sizing: border-box;
  background: #fff;
}
.trading-building ul li:first-child {
  margin-bottom: 2rem;
}
.trading-building ul li a {
  display: block;
  padding: 2.3rem;
  box-sizing: border-box;
}
.trading-building .num-up {
  font-size: 2.1rem;
  font-weight: 700;
}

/* 공모 예정인 건물 */
.public-offering .offering-building > a {
  display: block;
}
.public-offering .offering-building > a img {
  width: 100%;
}
.building-info .thumb {
  position: relative;
}
.building-info .info-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
.building-info .info-box .info-name {
  position: relative;
  padding: 2rem;
}
.building-info .info-box .info-name em {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: -1px;
}
.building-info .info-box .info-name {
  font-size: 2rem;
}
.building-info .info-box .info-desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5rem;
  padding: 0 2rem;
  box-sizing: border-box;
}
.building-info .info-box .info-desc ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

.building-more {
  margin-top: 2rem;
  position: relative;
}
.building-more .info-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2rem;
  color: #fff;
}
.building-more .info-box p {
  margin-bottom: 0.7rem;
  font-size: 2rem;
  letter-spacing: -1.5px;
}
.building-more .info-box .more {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: -0.5px;
}
.building-more .info-box .more:before {
  content: "";
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: -1.6rem;
  border-top: 0.6rem solid transparent;
  border-left: 0.8rem solid #fff;
  border-bottom: 0.6rem solid transparent;
}
